#logo {
    height: 80px;
}

/* Navbar */
.navbar-nav li a {
    font-size: 30px;
}

.navbar-nav li a:hover {
    color: #800080;
    background-color: lightgray;
    cursor: pointer;
}

nav.navbar {
    border-bottom: 1px solid black;
}

.navbar-brand {
    font-size: 35px;
    font-weight: bold;
}

#Navbackgroundcolor {
    background-color: rgba(121, 56, 149, 0.3);
}

@media (max-width: 1014px) {
    .navbar-brand {
        font-size: 25px;
    }
}

@media (max-width: 1014px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }
}

/* Crypto Section */
.crypto-section {
    width: 90%;
    margin: 0 auto;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

thead th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

tbody td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
}

.coin-name{
    font-weight: 630;
}

.coin-abrv {
    font-size: 9px;
    font-weight: 700;
    color: gray;
    text-transform: uppercase;
}

.coin-logo {
    width: 35px;
    height: auto;
    margin-right: 7px;
}

/* stars */

.unfilled {
    background-image: url(../images/star.svg);
    background-color: transparent;
    height:20px;
    width: 20px;
    border: 0px;
    background-repeat: no-repeat;
}

.filled {
    background-image: url(../images/star-fill.svg);
    background-color: transparent;
    height:20px;
    width: 20px;
    border: 0px;
    background-repeat: no-repeat;
    color: yellow;
}


/* Table Responsiveness */
table {
    overflow-x:auto
}




/* Footer */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(121, 56, 149, 0.3);
}

#footer-title {
    width: 140px;
    height: 100px;
    background-color: #ccc;
    margin: 10px;
}

#support,
#developers,
#company,
#socials {
    width: 140px;
    height: 200px;
    margin: 40px;
    text-align: left;
}

#supTitle,
#devTitle,
#comTitle,
#socTitle {
    border-bottom: 1px solid gray;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-left: 10px;
}

.foot-names:hover {
    color: #800080;
    background-color: lightgray;
    cursor: pointer;
}

.foot-names-socials:hover {
    color: #800080;
    background-color: lightgray;
    cursor: pointer;
    width: 17px;
}

.foot-subj {
    font-weight: bolder;
}

/* Spacing for the footer. */
#footer-title {
    margin-left: 5%;
    margin-right: 5%;
}

#support {
    margin-left: 5%;
    margin-right: 5%;
}

/* These media queries are to make the footer responsive. */
@media (max-width: 600px) {
    .footer {
        width: 25%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .footer {
        width: 50%;
    }
}

@media (min-width: 901px) {
    .footer {
        width: 100%;
    }
}