#img-wallet {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.arti-one {
    overflow: auto;
    margin: 100px 40px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

#img-graph {
    width: 30%;
    float: right;
    margin-left: 30px;
}

.arti-two {
    overflow: auto;
    margin: 100px 40px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

#img-coins {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.arti-three {
    overflow: auto;
    margin: 100px 40px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
